.filter-products {
  width:1170px;
  display: flex;
  margin:0 auto;
  padding:0 0 35px 0;

  @media (max-width: $desktop-medium-width) {
    width:970px;
  }

  @media (max-width: $tablet-width) {
    width:678px;
    flex-direction: column;
  }

  @media (max-width: $mobile-width-only) {
    width:100%;
    max-width:600px;
    padding:0 15px;
    box-sizing: border-box;
  }
}
