.form-login {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top:100px;
  right:calc(50% - 215px);
  width:430px;
  height:auto;
  max-height: calc(100vh - 90px);
  z-index: 10;
  overflow-y:auto;
  background: #F0EAE4;
  box-shadow: 0px 5px 32px rgba(226, 221, 215, 0.24);

  h3 {
    font-family: $cormorant;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: $text-dark;
    margin:50px 0 0 0;
  }

  &.form-login--close {
    display: none;
  }

  @media (max-width: $tablet-width) {
    width:442px;
    top:80px;
    right:calc(50% - 221px);
  }

  @media (max-width:$mobile-width-only) {
    width:270px;
    top:50px;
    min-height:470px;
    right:calc(50% - 135px);

    h3 {
      margin:37px 0 0 0;
      font-size: 24px;
      line-height: 130%;
    }
  }
}

.form-login__close {
  position: absolute;
  top:16px;
  right:16px;
  background: transparent;
  width:20px;
  height:20px;
  z-index: 15;

  &:hover {
    cursor: pointer;
  }

  &::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
  width:20px;
  height: 2px;
  background: #000;
  transform: rotate(45deg);
  box-shadow: none;
  }

  &::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
  width: 20px;
  height: 2px;
  background: #000;
  transform: rotate(-45deg);
  }

  @media (max-width: $tablet-width) {
    top:18px;
    right:22px;

    &::before {
      width:24px;
    }
    &::after {
      width:24px;
    }
  }

  @media (max-width: $mobile-width-only) {
    top:12px;
    right:12px;

    &::before {
      width:20px;
    }
    &::after {
      width:20px;
    }
  }
}

.form-login__image {
  width:100%;
  min-height:138px;
  background-image: url('../../img/popup-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $mobile-width-only) {
    min-height: 84px;
  }
}

.form-login__form {
  display: flex;
  flex-direction: column;
  margin:32px 45px 55px;

  input {
    width:340px;
    height:30px;
    padding:0 0 9px 0;
    margin:0 auto;
    box-sizing: border-box;
    border: none;
    border-bottom:1px solid $text-dark;
    background-color: transparent;
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000;
  }

  input::placeholder {
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #9B9997;
  }

  input:first-of-type {
    margin:0 0 35px 0;
  }

  input:focus{
    outline: none;
  }

  button {
    width:340px;
    height:68px;
    background-color: $second;
    border: 1px solid $second;
    box-sizing: border-box;
    margin:45px auto 0;
    padding:0;
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
  }

  p {
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #9B9997;
    text-align: center;
    margin:15px 0 0 -5px;

    a {
      font-family: $poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: $text-dark;
      text-decoration: none;
    }
  }

  a {
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #9B9997;
    text-decoration: none;
    text-align: right;
    margin:6px 0 0 0;
  }

  @media (max-width: $tablet-width) {
    margin:32px 51px 55px;
  }

  @media (max-width: $mobile-width-only) {
    margin:27px 15px 40px;

    button {
      width:240px;
      margin:35px auto 0;
    }

    input {
      width:240px;
    }

    input:first-of-type {
      margin:0 0 30px 0;
    }
  }
}
