.inst-pictures {
  width:1170px;
  text-align: center;
  margin:97px auto 130px;

  h2 {
    font-family: $cormorant;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-dark;
    margin:0 0 25px 0;

    span {
      font-family: $cormorant;
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 55px;
      letter-spacing: 0.03em;
      color: #000000;
    }
  }

  @media (max-width: $desktop-medium-width) {
    width:970px;
  }

  @media (max-width: $tablet-width) {
    width:678px;
    margin:63px auto 80px;

    h2 {
      margin:0 0 15px 0;
    }
  }

  @media (max-width: $mobile-width-only) {
    width:320px;
    padding:0 15px;
    margin:52px auto 71px;
    box-sizing: border-box;
  }
}

.inst-pictures__follow-link {
  position: relative;
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $text-dark;
  text-decoration: none;

  &:after {
    content:'';
    position: absolute;
    bottom:-10px;
    left:0;
    width:100%;
    height:1px;
    background-color: $second;
  }

  @media (max-width: $tablet-width) {
    &:after {
      bottom:-7px;
      left:0;
    }
  }
}
