.logo {

  &.logo--tablet {
    display: none;
  }

  @media (max-width: $tablet-width) {

    &.logo--desktop-close {
      display: none;
    }
    &.logo--tablet {
      &.logo--tablet-open {
        display: block;
      }
    }
  }
}
