.menu {
  max-width:1170px;
  min-height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  padding:17px 0 17px 10px;
  box-sizing: border-box;

  a {
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $text-dark;

    &:hover {
      color:$second;
    }
  }

  &.menu--tablet {
    display:none;
  }

  &.menu--nav-tablet {
    display: none;
  }

  @media (max-width: $tablet-width) {

    &.menu--tablet {
      display:flex;
      width:auto;
      height: auto;
      margin:0;
      padding:0;
      cursor: pointer;

      svg {
        stroke: $text-dark;
        fill:none;
      }
    }

    &.menu--tablet-open {
      svg {
        stroke: #fff;
        fill:none;
      }
    }

    &.menu--desktop {
      display: none;
    }

    &.menu--nav-tablet {
      position: absolute;
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding:30px 45px 80px;
      top:105px;
      left:0;
      right:0;
      width:100%;
      height:100vh;
      z-index: 30;
      background-color: $second;
      max-height:calc(100vh - 85px);
      overflow-y: auto;
    }

    &.menu--nav-tablet-open {
      display: flex;
    }
    &.menu--nav-tablet-nojs {
      position: static;
      max-height:1500px;
      overflow: hidden;
    }
  }

  @media (max-width: $mobile-width-only) {

    &.menu--tablet {
      svg {
        margin:-8px 0 0 0;
      }
    }
    &.menu--nav-tablet {
      top:72px;
      padding:30px 15px 50px;
    }
  }
}

.menu__list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin:0;
  padding:0;

  li {
    margin:0 36px 0 0;
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $text-dark;
  }

  a {
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $text-dark;
  }

  li:last-child {
    margin:0;
  }
}

.menu__list-tablet {

  @media (max-width: $tablet-width) {
    padding:0;
    margin:48px 0 0 0;
    list-style-type: none;

    li {
      margin:20px 0 0 0;
    }

    li:first-of-type {
      margin:0;
    }

    a {
      font-family: $poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: #FFFFFF;

      &:hover {
        color:#000;
      }
    }
  }

  @media (max-width: $mobile-width-only) {
    margin:37px 0 0 0;
  }
}

.menu__list-tablet-about {

  @media (max-width: $tablet-width) {
    padding:0;
    margin:42px 0 0 0;
    list-style-type: none;

    li {
      margin:20px 0 0 0;
    }

    li:first-of-type {
      margin:0;
    }

    a {
      font-family: $poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: rgba(255, 255, 255, 0.75);

      &:hover {
        color:#000;
      }
    }
  }

  @media (max-width: $mobile-width-only) {
    margin:32px 0 0 0;
  }
}

.menu__login {
  &.menu__login--menu {

    @media (max-width: $tablet-width) {
      margin:46px 0 0 0;
      font-family: $poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: #FFFFFF;

      &:hover {
        color:#000;
      }
    }

    @media (max-width: $mobile-width-only) {
      margin:37px 0 0 0;
    }
  }
}
