.page-main {
  width:100%;
}

.page-main__module-hover {
  display:block;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  background-color:#fff;
  z-index: 5;

  &.page-main__module-hover--closed {
    display: none;
  }
}
