.page-header {
  position: relative;
  width:100%;
  margin:0 auto;
  padding:30px 0 0 0;

  a {
    text-decoration: none;
  }

  &.page-header--login {
    position: absolute;
    top:0;
    left:0;
    right:0;
    z-index: 25;
    padding:10px 0 0 0;

    .page-header__top {
      justify-content: center;
    }
  }

  @media (max-width: $tablet-width) {
    padding:30px 0;

    &.page-header--open-menu {
      background-color: $second;
    }
  }

  @media (max-width: $mobile-width-only) {
    padding:20px 0;
  }
}

.page-header__top {
  width:1170px;
  min-height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin:0 auto;
  padding:0 0 19px 0;
  box-sizing: border-box;

  @media (max-width: $desktop-medium-width) {
    width:970px;
  }

  @media (max-width: $tablet-width) {
    width:auto;
    padding:0;
    justify-content: space-between;
  }
  @media (max-width: $mobile-width-only) {
    padding:0 15px;
    justify-content: space-between;
    box-sizing: border-box;
  }
}
