.wrapper-login-busket {
  width:205px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin:12px 0 0 0;



  a {
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $text-dark;
    margin:0 0 0 35px;
    &:hover {
      color:$second;
    }
  }

  a:first-child {
    margin:0 0 0 50px;
  }

  &.wrapper-login-busket--tablet {
    display: none;
  }

  @media (max-width: $tablet-width) {

    &.wrapper-login-busket--tablet {
      display: flex;
      min-width:auto;
      width:auto;
      cursor: pointer;
      margin:25px 0 0 0;

      svg {
        stroke:$text-dark;
        fill:none;
      }

      a {
        margin:0;
      }
    }

    &.wrapper-login-busket--tablet-open {
      svg {
        stroke:#fff;
      }
    }
    &.wrapper-login-busket--desktop {
      display: none;
    }


  }

  @media (max-width: $mobile-width-only) {

    &.wrapper-login-busket--tablet {
      margin:16px 0 0 0;
    }
  }
}
