/* Colors */

$main: #F0EAE4;
$dark: #A87B62;

/* Fonts */

$poppins: "Poppins", "Arial", sans-serif;
$cormorant: "Cormorant", "Arial", sans-serif;

/*  Viewports */

$desktop-width: 1590px;

$desktop-medium-width: 1360px;

$tablet-width: 1023px;

$mobile-width-only: 767px;
