/* Colors */

$main: #F0EAE4;
$second: #A87B62;
$text-dark: #1D1613;

/* Fonts */

$poppins: 'Poppins', 'Arial', sans-serif;
$cormorant: 'Cormorant', 'Arial', sans-serif;

/*  Viewports */

$desktop-width: 1590px;

$desktop-medium-width: 1239px;

$tablet-width: 1023px;

$mobile-width-only: 767px;
